
.editTaskModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.importanceAndDeadlineContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.importanceTitle {
    margin: 0;
    margin-bottom: 12px;
}

.importanceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.importanceContainer button {
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
    transition: all 0.2s ease-in;
}

.importanceContainer button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
}

.importanceLvlBtnStandard {
    background-color: var(--secondary-color);
    opacity: 0.6;
}

.importanceLvlBtnActive {
    opacity: 1;
    background-color: var(--primary-color);
}

.importanceLvlBtnStandard:hover, .importanceLvlBtnActive:hover {
    cursor: pointer;
    opacity: 1;
}

.noneBtn {
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    width: 60px;
    height: 40px;
    font-size: small;
    margin-left: 5px;
    background-color: var(--secondary-color);
    opacity: 0.6;
    transition: all 0.2s ease-in;
}

.noneBtn {
    margin-left: 15px !important;
}

.noneBtn:hover {
    cursor: pointer;
    opacity: 1;
}

.deadlineTitle {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}

.deadlineContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.deadlineContainer input {
    height: 40px;
    width: 140px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: large;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    font-weight: 600;
}


.modalInputField {
    padding: 10px 20px;
    margin-bottom: 15px;
    height: 100px;
    resize: none;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    font-size: large;
    font-size: x-large;
    font-family: inherit;
}


/* Very small phones (galaxy fold etc.)*/
@media only screen and (max-width: 330px) {

    .editTodoH3 {
        font-size: 28px;
    }

    .modalInputField {
        padding: 6px 12px;
        border: 2px solid var(--primary-color);
        border-radius: 12px;
        font-size: large;
    }

}
