
.settingsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.changeColorHeader {
    margin-bottom: 15px;
    margin-top: 2px;
}

.changeColorThemeContainer {
    display: flex;
    flex-direction: column;
}

.colorPickerBox {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-bottom: 8px;
}

.colorItem {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
    opacity: 70%;
    animation-play-state: paused;
}

.colorItem:hover {
    cursor: pointer;
}

.colorItemSelected {
    opacity: 100% !important;
    scale: 1.2;
    transition: all 0.2s ease-in-out;
}

.saveBtnOptContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderRound {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.sliderRound:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .sliderRound {
    background-color: #2196F3;
}
  
input:focus + .sliderRound {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderRound:before {
    transform: translateX(26px);
}
