.header {
    font-size: larger;
    margin: 0;
}

@media only screen and (max-width: 380px) {
    .header {
        font-size: large;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        font-size: medium;
    }

}