* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2d7fd7;
    --primaty-transition: 0.2s all ease-in-out;
}

::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.468);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2d7fd7a4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d7fd7;
}

::-webkit-scrollbar-track:hover {
    background: white;
}

.todolist {
    height: 50%;
    width: 70%;
    display: flex;
    justify-content: center;
}

.todoUl {
    width: 100%;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.todoListItem {
    font-size: larger;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 20px;
}

.todoListItem {
    opacity: 0;
    display: flex;
    animation: fadeIn 0.1s ease-in forwards;
    justify-content: space-between;
    word-wrap: break-word;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.dissapearingToDo {
    animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50px);
    }
}

.icons {
    display: flex;
}

.check {
    width: 24px;
    height: 24px;
    transition: var(--primaty-transition);
    border: 2px solid var(--primary-color);
    background-color: white;
}

input[type=checkbox] {
    accent-color: var(--primary-color);
}

.check:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: var(--primary-transition);
}

.todoListItem {
    background-color: #2d7fd725;
}


.todoListItem h3 {
    margin-left: 20px;
    color: black;
}

.todoListItem h3:hover {
    cursor: pointer;
}

.hasBeenCheckedH3 {
    text-decoration: line-through;
    opacity: 50%;
}

.hasBeenCheckedLi {
    border: 2px dashed var(--primary-color);
}

.delete {
    width: 25px;
    height: 25px;
    margin-right: 13px;
    margin-left: 15px;
    margin-top: 1px;
    transition: 0.2s;
}

.delete:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s;
}


@media only screen and (max-width: 950px) {

    .todolist {
        height: 60%;
        width: 80%;
    }

    .todoListItem {
        height: 90px;
        overflow: hidden;
    }

    .todoListItem h3 {
        font-size: x-large;
    }

    .delete {
        width: 32px;
        height: 32px;
        margin-left: 25px;
    }

    .check {
        width: 30px;
        height: 30px;
    }


}

@media only screen and (max-width: 500px) {

    .todolist {
        width: 90%;
    }

}



